#gzbkmrklt {
  position: fixed;
  top: 5px;
  right: 5px;
  /*right: auto;*/
  /*bottom: auto;*/
  /*border: 1px solid rgb(204, 204, 204);*/
  overflow: auto;
  /*border-radius: 4px;*/
  outline: none;
  padding: 12px;
  /*margin-right: -95%;*/
  /*transform: translate(-50%, -50%);*/
  width: 300px;
  height: 200px;
  background: rgb(255, 255, 255);
  z-index: 99999999999;
  background: #FFFFFF;
  border: 1px solid #C7D2D5;
  box-shadow: inset 0px 3px 0px 0px #529EB3;

}

#gzbkmrkltbtn {
  border: none;
  font-family: 'Source Sans Pro';
  display: block;
  position: fixed;
  height: 14px;
  width: 14px;
  top: 23px;
  right: 20px;
  z-index: 100000000000;
}
